# Ignorar bases de datos locales
*.xlsx
/data

# Ignorar archivos de sistema y python
__pycache__/
*.pyc
.DS_Store

# Ignorar secretos (API Keys)
.env
.streamlit/secrets.toml

# Ignorar backups y logs (generados localmente)
backups/
logs/
hotel.db
hotel.db-wal
hotel.db-shm

# Ignorar Entornos Virtuales (Por si acaso)
venv/
.venv/
env/